In [1]:
import pandas as pd
# import matplotlib
# import seaborn

### APERTURA DE ARCHIVOS

In [8]:
books = pd.read_csv(r".\Input\books.csv")
books_tags = pd.read_csv(r".\Input\book_tags.csv")
ratings = pd.read_csv(r".\Input\ratings.csv")
tags = pd.read_csv(r".\Input\tags.csv")
to_read = pd.read_csv(r".\Input\to_read.csv")

In [12]:
to_read

    user_id  book_id
0         9        8
1        15      398
2        15      275
3        37     7173
4        34      380
..      ...      ...
94      116     4684
95      116     3404
96      116     2498
97      116     3986
98      242       28

[99 rows x 2 columns]